body {
  background-color: black;
}

div {
  margin-top: 10px;
}

h1 {
  //text-align: center;
  color: gray;
  font-size: 40px;
}

.container {
  background: white;
  margin: 10px 20px;
  padding: 10px 25px;
  border-radius: 20px;
}

#main {
  width: 70%;
  margin: auto;
}

.input {
  margin-left: 60px;
}

#principal {
  margin-left: 90px;
}

.highlight {
  background: yellow;
}
